@{
    ViewData["Title"] = "NSNS Account";
}

@if (TempData["ErrorMessage"] != null)
{
   
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
       
}

<iframe src="https://courses.nsns.ca" width="100%" height="3400px"></iframe>